<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%> <!-- head partial -->
  </head>
  <body>
    
    <%- include('./partials/header') -%> <!-- includes header partial with navigation bar -->

    <!-- Sets up a welcome message.  We'll talk about the title variable placeholder next week. -->
    <h1 class="text-center">  <%= title %></h1>
    <p class="text-center"> Welcome to <%= title %></p>
    <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Number</th>
        <th>Customer Name</th>
        <th>Contact Last Name</th>
        <th>Contact First Name</th>
      </tr>
      <%for (var result in resultarray){%>
        <tr>
        <td> <%= resultarray[result].customerNumber %> </td> 
        <td> <%= resultarray[result].customerName %> </td>  
        <td> <%= resultarray[result].contactLastName %> </td>
        <td> <%= resultarray[result].contactFirstName %> </td>
        </tr> 
        <%}%>
    </table>
    </div>
      
    <%- include('./partials/footer') -%> <!-- includes footer partial -->
  </body>
</html>