<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%> <!-- head partial -->
  </head>
  <body>
    
    <%- include('./partials/header') -%> <!-- includes header partial with navigation bar -->

    <!-- Sets up a welcome message.  We'll talk about the title variable placeholder next week. -->
    <h1 class="text-center">  <%= title %></h1>
    <p class="text-center"> Welcome to <%= title %></p>
    <%- include('./partials/footer') -%> <!-- includes footer partial -->
  </body>
</html>
